/* Hover Effects */
@media (hover: hover) {
	.animated-list:hover li {
		opacity: 0.5;
	}
	.animated-list:hover li:hover {
		opacity: 1;
	}
}

/* View Transitions */
.transition-element {
	view-transition-name: florin-transition;
}

::view-transition-old(florin-transition) {
	animation: fade-out 0.8s ease-in-out;
}

::view-transition-new(florin-transition) {
	animation: fade-in-up 0.4s ease-in-out;
}

@keyframes fade-out {
	0% {
		transform: translateY(0) translateX(-0.2px);
		opacity: 1;
	}
	100% {
		transform: translateY(var(--translate-y)) translateX(-0.2px);
		opacity: 0;
	}
}

@keyframes fade-in-up {
	0% {
		transform: translateY(var(--translate-y)) translateX(-0.2px);
		opacity: 0;
	}
	100% {
		transform: translateY(0) translateX(-0.2px);
		opacity: 1;
	}
}

@supports (view-transition-name: none) {
	.fade-in {
		animation: fade-in 0.8s ease-in-out forwards;
		opacity: 0;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
