@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--theme: hsl(24, 90%, 47%);
		--background: hsl(0, 0%, 98%);
		--foreground: hsl(0, 0%, 0%);
		--border: hsl(0, 0%, 90%);
		--code: hsl(225, 77%, 5%);
		--primary: hsl(240, 5%, 11%);
		--primary-foreground: hsl(0, 0%, 98%);
		--secondary: hsl(240, 4%, 96%);
		--secondary-foreground: hsl(240, 5%, 11%);
		--muted: hsl(240, 4%, 96%);
		--muted-foreground: hsl(240, 3%, 46%);
		--accent: hsl(240, 4%, 96%);
		--accent-foreground: hsl(240, 5%, 11%);
		--destructive: hsl(0, 76%, 51%);
		--destructive-foreground: hsl(0, 0%, 98%);
		/* radius */
		--radius: 0.5rem;
		/* shiki */
		--sh-class: hsl(220, 90%, 71%);
		--sh-sign: hsl(195, 100%, 78%);
		--sh-string: hsl(93, 47%, 64%);
		--sh-keyword: hsl(255, 66%, 76%);
		--sh-comment: hsl(225, 22%, 45%);
		--sh-jsxliterals: hsl(220, 90%, 71%);
		--sh-property: hsl(170, 61%, 64%);
		--sh-entity: hsl(32, 67%, 66%);
	}

	.dark {
		--theme: hsl(51, 97%, 64%);
		--background: hsl(0, 0%, 0%);
		--foreground: hsl(0, 0%, 98%);
		--border: hsl(0, 0%, 25%);
		--code: hsl(222, 56%, 12%);
		--primary: hsl(0, 0%, 98%);
		--primary-foreground: hsl(240, 5%, 11%);
		--secondary: hsl(240, 3%, 15%);
		--secondary-foreground: hsl(0, 0%, 98%);
		--muted: hsl(240, 3%, 15%);
		--muted-foreground: hsl(240, 4%, 65%);
		--accent: hsl(240, 3%, 15%);
		--accent-foreground: hsl(0, 0%, 98%);
		--destructive: hsl(0, 89%, 80%);
		--destructive-foreground: hsl(0, 0%, 98%);
	}

	@media (prefers-color-scheme: dark) {
		html {
			color-scheme: dark;
		}
	}
}

@layer utilities {
	::selection {
		@apply text-white dark:text-black bg-theme;
	}

	.scrollbar-hide {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}

	.scrollbar-hide::-webkit-scrollbar {
		display: none;
	}
}

html {
	min-width: 360px;
}

body {
	text-rendering: optimizeLegibility;
}

/* header */
h1, h2, h3, h4 {
	text-wrap: balance;
}

/* list */
@media (hover: hover) {
	.animated-list:hover li {
		opacity: 0.5;
	}

	.animated-list:hover li:hover {
		opacity: 1;
	}
}

ul {
	@apply mt-4 list-disc space-y-1 pl-5 text-foreground;
}

ol {
	@apply mt-4 list-decimal space-y-2 pl-5 text-foreground;
}

li {
	@apply pl-1;
}

/* links */
a {
	@apply underline-offset-2 underline;
}

/* code */
pre {
	overflow-x: auto;
	padding: 1rem;
	margin: 1.5rem 0;
	line-height: 1;

	@apply bg-border bg-[#16161e] rounded-md scrollbar-hide;
}

pre::-webkit-scrollbar {
	display: none;
}

pre {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

code {
	@apply bg-border rounded-md p-1 text-base font-geist-mono;
}

pre code {
	background-color: transparent;
	padding: 0;
	border: none;
	font-size: 14px;
	line-height: 1.5;
}

pre code > span .sh__token--identifier {
	color: #ffffff !important;
}

code:not(pre code) span {
	font-weight: 500;
	color: #000000 !important;
}

pre code span {
	font-weight: 500;
}

/* input */
input[type="text"],
input[type="email"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

/* transition */
.transition-element {
	view-transition-name: florin;
}

::view-transition-old(florin) {
	animation: fade-out 0.8s ease-in-out;
}

::view-transition-new(florin) {
	animation: fade-in-up 0.4s ease-in-out;
}

@keyframes fade-out {
	0% {
		transform: translateY(0) translateX(-0.2px);
		opacity: 1;
		font-weight: 500;
	}
	20% {
		transform: translateY(24px) translateX(-0.2px);
		opacity: 0.5;
	}
	40% {
		transform: translateY(24px) translateX(-0.2px);
		opacity: 0.3;
	}
	60% {
		transform: translateY(24px) translateX(-0.2px);
		opacity: 0.2;
	}
	100% {
		transform: translateY(24px) translateX(-0.2px);
		opacity: 0;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0.6;
	}
	60% {
		opacity: 0.8;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fade-in-up {
	0% {
		transform: translateY(24px) translateX(-0.2px);
		opacity: 0;
	}
	20% {
		transform: translateY(24px) translateX(-0.2px);
		opacity: 0.5;
	}
	80% {
		transform: translateY(0) translateX(-0.2px);
		opacity: 0.7;
	}
	100% {
		transform: translateY(0) translateX(-0.2px);
		opacity: 1;
	}
}

@supports (view-transition-name: none) {
	.fade-in {
		animation: fade-in 0.8s ease-in-out forwards;
		opacity: 0;
	}
}
